{% extends 'slackbot/layout.jinja' %}
{% import 'slackbot/messages-macros.jinja' as macros with context %}

{% block body %}
    <div class="container slackbot-main">

      <div>
        <h1>Slackbot Messages</h1>
        <p class="lead">A list of all the messages seen by the Slackbot so far.</p>
      </div>

      {% for message in messages %}
        <div class="row">
          <div class="col-md-6">
            {{ macros.show_message(message) }}
          </div>
          <div class="col-md-6">
            <pre>{{ pformat(message._data) }}</pre>
          </div>
        </div>
      {% endfor %}
      <div></div>

    </div><!-- /.container -->
{% endblock %}