{% macro show_message(message) %}
  <table class="table">
    <tr>
      <th class="slackbot-key">ID</th>
      <td class="slackbot-value"><a href="{{ url('messages-detail', message.object_id) }}">{{ message.object_id }}</a></td>
    </tr>
    {% for column in ['datetime', 'user_obj__real_name', 'subtype', 'text'] %}
    {% set value = getattr(message, column) %}
    {% if value %}
    <tr>
      <th class="slackbot-key">{{ column|capitalize }}</th>
      <td class="slackbot-value">{{ value }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
{% endmacro %}